@media print {
    aside,
    header,
    button {
        display: none !important;
    }

    main {
        padding: 0 !important;
    }

    .print\:border-0 {
        border: 0 !important;
    }

    .print\:shadow-none {
        box-shadow: none !important;
    }
}
